// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define __CUDACC__ 1 // make Qt Creator think we're programming for CUDA
#define __global__ // stop Qt Creator from complaining
#define __host__   // stop Qt Creator from complaining
#define __device__ // stop Qt Creator from complaining
